apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ name }}-pvc
  annotations:
    volume.beta.kubernetes.io/storage-class: standard
spec:
  volumeName: {{ name }}-pv
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: {{ storage_size }}